.App {
  text-align: center;
  height: 100vh; /* El 100% de la altura del viewport */
  width: 100%; /* El 100% del ancho del contenedor padre */
}
body, html {
  margin: 0;
  padding: 0;
}
.App * {
  margin: 0;
  padding: 0;
}
