.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-container label {
    display: block;
    margin-bottom: 10px;
  }
  
  .form-container input[type="text"],
  .form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-container textarea {
    resize: vertical; /* Permite redimensionar verticalmente el textarea */
  }
  
  .form-container button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #b42219;
    color: #fff;
    border: 2px solid #0b0a51;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .form-container button:hover {
    background-color: #070842;
  }
  
  .create-title{
  font-size: 2.5rem; /* Tamaño de la fuente */
  color: rgba(134, 52, 52, 0.7); /* Color de fondo del texto menos transparente */  
}
