.Landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('../../assets/imagen-fondo.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  color: white; /* Color blanco para el título */
}

.customButton {
  background-color: red; /* Fondo rojo para el botón */
  color: white; /* Color blanco para el texto del botón */
  font-size: 24px; /* Tamaño de fuente más grande */
  padding: 10px 20px; /* Espaciado interno del botón */
  border: none; /* Quita el borde del botón */
  border-radius: 5px; /* Borde redondeado */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.customButton:hover {
  background-color: #b42219; /* Cambia el color de fondo cuando se pasa el cursor sobre el botón */
}
